{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CART_MEM_LIST</title>

    <link href='{% static 'oracleapp/table.css' %}'
          rel='stylesheet'
          type='text/css'>

    <script type="text/javascript">
        function goCartView(cart_no, cart_prod){
            url = '/oracle/cart_view/';
            url += '?cart_no=' + cart_no;
            url += '&cart_prod=' + cart_prod;

            location.href = url;
        }
        function goCart(){
            location.href = '/oracle/cart_insert_view/'
        }
    </script>

    <style>
        #btn_1{
            float: right;
            margin-top: 0%;
        }
    </style>

</head>
<body>
    <h3>주문정보</h3>
    <h5>목록</h5>

    <button type="button" id="btn_1" class="btn-two yellow rounded" onclick="goCart()">주문</button>

    <table>
        <tr>
           <th>회원이름</th>
           <th>주문번호</th>
           <th>상품코드</th>
           <th>수량</th>
        </tr>
        {% for row in cart_list %}
        <tr class='col'>
           <td>{{row.cart_member.mem_name}}</td>
           <td><a href="javascript:goCartView('{{row.cart_no}}','{{row.cart_prod}}');">
                {{row.cart_no}}</a>
           </td>
           <!--<td><a href='/oracle/cart_view/?cart_no={{row.cart_no}}&cart_prod={{row.cart_prod}}'>{{row.cart_no}}</a></td>-->
           <td>{{row.cart_prod}}</td>
           <td>{{row.cart_qty}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

<!-- 수정, 삭제, 조회는 동일하다. 차이점은 member테이블도 함께보는게 다른 점-->