<!--
    - html 주석
    - html입력 후 : html:5선택하면 기본 html코드 템플릿이 만들어짐
-->
<!DOCTYPE html>    <!--html형식으로 작성하겠다-->
<html>    <!--언어 : 영어지만 의미없음으로 제거-->
<head>

    <!--
        * Web Front-End 프로그램
            - html : 그림 그리는 작업 (글쓰기, 표그리기 등)
            - CSS : 그림에 스타일 입히는 작업 (글씨 스타일, 표스타일 등)
            - javascript : 페이지 전환 등의 이벤트 처리 작업 (url과 url이동 애니메이션 효과, 데이터 전송 등)

        * head : CSS 또는 JS 등의 코드 정의
        * body : 웹브라우저에 보여지는 코드 정의
               : CSS 또는 JS등의 코드도 정의 가능
    -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Django - firstapp - Index페이지 :::</title>
</head>
<body>
    <b>안녕하세요~ 장고...</b>

    <h3>MainApp</h3>
    <p>
        <a href="/">MainApp으로 가기</a>
    </p>

    <h3>FirstApp</h3>
    <p>
        <a href="/first/template01/">getTemplate()페이지 처리 바로가기</a>
    </p>
</body>
</html>