{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CART_UPDATE_VIEW</title>

    <link href='{% static 'oracleapp/table.css' %}'
          rel='stylesheet'
          type='text/css'>

    <script type="text/javascript">
        function goBack(){
            history.go(-1)
        }
        function goUpdate(){
            fm = document.getElementById("fm");
            fm.action='/oracle/cart_update/';
            fm.submit();
        }
    </script>

</head>
<body>
    <h3>주문정보</h3>
    <h5>수정</h5>
    <form action="#" id="fm" method="post">
        {% csrf_token %}
        <input type="hidden" name="cart_no" value="{{cart_view.cart_no}}">
        <input type="hidden" name="cart_prod" value="{{cart_view.cart_prod}}">

        <table>
            <tr>
                <th>회원ID</th>
                <th>주문번호</th>
                <th>상품코드</th>
                <th>수량</th>
            </tr>
            <tr class='col'>
                <td>{{cart_view.cart_member}}</td>
                <td>{{cart_view.cart_no}}</td>
                <td>{{cart_view.cart_prod}}</td>
                <td>
                    <input type="text" name="cart_qty" value="{{cart_view.cart_qty}}">
                </td>
            </tr>
        </table>
    </form>
    <button type="button" class="btn-two yellow rounded" onclick="goBack()">취소</button>
    <button type="button" class="btn-two yellow rounded" onclick="goUpdate()">수정</button>
</body>
</html>