<!-- settings.py에서 정의한 static정보 가져오기 -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02_LINK</title>

    <!-- JS함수 정의하기 -->
    <script type="text/javascript">
        // 텍스트기반의 자바스크립트를 사용하겠다

        /*함수
            - 함수의 시작은 function
            - 뒤에 정의하는 함수 이름과 매개변수는 파이썬 함수와 동일
            - 함수의 시작과 끝은 중괄호({})로 열고 닫음
            - 자바스크립트는 모든 문장의 끝에 세미콜론(;)으로 문장 끝을 알려줘야함*/

        function linkView(url){
            location.href = url;
        }
    </script>

</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>

    <br/>
    <h4>웹페이지 이동</h4>

    <p>
        <a href='http://www.naver.com/'>[네이버 바로가기]</a>
    <br/>
        <a href="https://www.daum.net/">[다음 바로가기]</a>
    <br/>
    <!-- 페이지 전환이 안되는 링크처리
         페이지 이동은 안하는데 링크 표시는 넣고싶을 때 사용함 -->
        <a href="#">※ #을 사용하면 페이지 전환 못함</a>
    <br/>
    <!-- JavaScript를 이용한 링크처리
         javascript:location을 줄여서 a태그로 간략히 만든 것임
         보통은 a태그로 사용하지만 데이터를 전송해야할 때 사용함
         href는 "", location 속 href는 '' 사용 -->

         <!-- 내부사용 -->
        <a href="javascript:location.href='http://www.daum.net';">JS를 이용한 다음 바로가기</a>
        <br/>
        <!-- 헤더 내 함수 생성해 사용 -->
        <a href="javascript:linkView('http://www.naver.com');">JS를 이용한 네이버 바로가기</a>
        <br/>
        <!-- 파일로 관리 -->
        <!-- <a href="javascript:linkView('http://www.daum.net');">JS를 이용한 다음 바로가기</a> -->
    </p>

    <br/>
    <!-- 이미지 삽입 -->
    <img src="/static/frontapp/images/dog.jpg">
    <br/>
    <img src="/static/frontapp/images/dog.jpg" width="500" height="500">
    <br/>
    <!-- 이미지에 링크 걸기 -->
    <a href="http://www.daum.net"><img src="/static/frontapp/images/dog.jpg"></a>
    <br/>
    
    <!-- 이미지 경로(src)를 서버 설정을 파이썬 문법 이용해 작성하기 -->
    <img src={% static 'frontapp/images/dog.jpg' %}>
</body>
</html>