<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03_CSS</title>
</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/' style="color: aqua; background-color:darkblue;">[FrontApp-Index 바로가기]</a>
    </p>

    <p>03_CSS페이지 입니다.</p>

    <br/>
    
    <!--수평선 넣기-->
    <hr/>
    
    <!--태그 내부에 스타일 넣기-->
    <h3 style="color:white;
                background-color: rgba(10, 156, 147, 0.707);">
                css 테스트
    </h3>    
    

</body>
</html>