<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04_CSS</title>
    
    <!-- 스타일을 head 영역에 정의하기
         * 방식
            - style태그의 시작과 끝을 만들어 스타일 작성 영역 정의
            - 스타일을 적용하고자 하는 태그 이름, 또는 class 속성 이름, 또는 id속성 이름을 처음에 작성
            - 이름 뒤에 중괄호({} 딕셔너리 의미) 열고 닫기로 영영지정 -->
    <style>
        a{
            background-color: rgb(255, 134, 65);
            color:aqua;
        }

        h3{
            background-color: rgba(199, 0, 139, 0.707);
            color:white;
        }
    </style>
</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>

    <p>04_CSS페이지 입니다.</p>

    <br/>
    
    <!--수평선 넣기-->
    <hr/>
    
    <!--태그 내부에 스타일 넣기-->
    <h3>
                css 테스트
    </h3>    
    

</body>
</html>