<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05_CSS</title>
    
    <!-- 스타일을 head 영역에 정의하기
         * 외부에 있는 css파일을 적용하는 방식
            - link태그 사용 -->
    <link href="/static/frontapp/css/front.css"
          rel="stylesheet"
          type="text/css">

</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>

    <p>05_CSS페이지 입니다.</p>

    <br/>
    
    <!--수평선 넣기-->
    <hr/>
    
    <!--태그 내부에 스타일 넣기-->
    <h3>css 테스트</h3>    
    

</body>
</html>