<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06_CSS</title>

    <style>
        p{
            background-color: black;
            color: yellow;
        }
        a{
            color: yellow;
        }
        #p1{
            background-color: blue;
            font-size: 5px;
            border: 1px solid red;
            padding: 50px; /*안쪽 여백*/
            margin: 50px; /*바깥쪽 여백*/
        }
        .p2{
            background-color: green;
            font-size: 10px;
            border: 10px dotted red;
        }
    </style>

</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>
    <hr/>

    <p>06_CSS페이지 입니다.</p>
    <hr/>

    <p id="p1">
        스타일 적용1
    </p>

    <p class="p2">
        스타일 적용2
    </p>

    <p>
        스타일 적용3
    </p>

    <p class="p2">
        스타일 적용4
    </p>
</body>
</html>