<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12_DIV</title>

    <style>
        div{
            padding: 20px;
            margin: 20px;
        }
        div.div13{
            background-color: yellow;
            color: rgb(190, 190, 255);
        }
        div.div24{
            background-color: blueviolet;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>
    <hr/>
    <p>
        12_div페이지 입니다
    </p>
    <hr/>
    <div class="div13">
        <h5>div 블록태그1</h5>
        <p>
            Django프로그램 어려워요<br/>
            쉬었음 좋겠어요ㅜ<br/>
        </p>
    </div>
    <div class="div24">
        <h5>div 블록태그2</h5>
        <p>
            Django프로그램 어려워요<br/>
            쉬었음 좋겠어요ㅜ<br/>
        </p>
    </div>
    <div class="div13">
        <h5>div 블록태그3</h5>
        <p>
            Django프로그램 어려워요<br/>
            쉬었음 좋겠어요ㅜ<br/>
        </p>
    </div>
    <div class="div24">
        <h5>div 블록태그4</h5>
        <p>
            Django프로그램 어려워요<br/>
            쉬었음 좋겠어요ㅜ<br/>
        </p>
    </div>
</body>
</html>