<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>24_CHECKBOX</title>

    <script type="text/javascript">
        function goSelect(){
            fm=document.getElementById("fm");

            chkbool = false;

            for(i=0; i<fm.mem_addr.length; i++){
                if(fm.mem_addr[i].checked == true){
                    chkbool = true;
                }
            }

            if(chkbool == false){
                alert("지역을 선택해주세요");
                return;
            }

            fm.action = '/front/25_checkbox2/';
            fm.submit();
        }

        function allReload(){
            location.reload();
        }

        function checkboxReload(){
            fm = document.getElementById('fm');

            for(i=0; i<fm.mem_addr.length; i++){
                if(fm.mem_addr[i].checked == true){
                    fm.mem_addr[i].checked = false;
                }
            }
        }
    </script>

</head>
<body>
    <h4>FrontApp : index</h4>

    <p>
        <a href='/front/'>[FrontApp-Index 바로가기]</a>
    </p>
    <hr/>
    <p>
        24_checkbox페이지 입니다
    </p>
    <hr/>
    <form id='fm' method='post' action="#">
        {% csrf_token %}
        temp : <input type="text" name='test'>
        * 지역선택 : 
        서울<input type="checkbox" name="mem_addr" value="서울">
        부산<input type="checkbox" name="mem_addr" value="부산">
        광주<input type="checkbox" name="mem_addr" value="광주">
        대전<input type="checkbox" name="mem_addr" value="대전">
        <hr/>
        <!--input태그를 이용해 만드는 경우 form태그 안에 넣음 / value에 버튼 이름 작성-->
        <input type="button" value="검색하기" onclick="goSelect()">
        <!--일반버튼 : 어디서든 만들 수 있음 / 태그 여닫기 필요 / 태그 사이에 버튼 이름 작성-->
        <button onclick="goSelect()">검색하기(b)</button>
        <br>
    </form>
    <!-- 원래 형태 : button type='submit' name='' 라서 submit처럼 action 주소로 reload됨으로 form태그 밖으로 뺴줘야 함-->
    <button onclick="allReload()">전체 초기화</button>
    <button onclick="checkboxReload()">체크박스 초기화</button>
</body>
</html>