<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML02</title>


    <link href="/static/secondapp/css/second.css"
        rel="stylesheet"
        type="text/css">

</head>
<body>
    <h3>html02 페이지 입니다</h3>

    <p id="i">
        <a href="/second/">[secondapp바로가기]</a>
    </p>
    <br/>
    <p class='html'>
        <a href="/second/html01/">[html01] 바로가기</a>
    </p>

    <img src="/static/secondapp/images/dog02.jpg" width="600" height="800">
</body>
</html>