<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML01</title>

    <style>
        #i{
            background-color: darkblue;
            color: azure;
        }
    </style>
</head>
<body>
    <h3>html01 페이지 입니다</h3>

    <p>
        <a href="/second/" id='i'>[secondapp바로가기]</a>
    </p>
    <br/>
    <p>
        <a href="/second/html02/" class='html'>[html02] 바로가기</a>
    </p>

    <img src="/static/secondapp/images/dog01.jpg" width="800" height="800">
</body>
</html>