<!DOCTYPE html>
<htmls>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secondapp page</title>
</head>
<body>
    <b>secondapp/index.html</b>

    <h3>MainApp</h3>
    <p>
        <a href="/">[MainApp 바로가기]</a>
    </p>

    <br/>
    <h3>html 바로가기</h3>
    <p>
        <a href="/second/html01/">[html01 바로가기]</a>
    </p>
    <p>
        <a href="/second/html02/">[html02 바로가기]</a>
    </p>
    
    <p>
        <a href="/second/mem_list/">[mem_list 바로가기]</a>
    </p>
</body>
</html>