<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAINApp-Main 페이지</title>
</head>
<body>
    <h3>FirstApp</h3>
    <p>
        <!--
            - href : url입력
            - 첫번째 슬래시 : 127.0.0.1:8000 의미
                           : root url이라고도 함
            - 첫번째 슬래시 다음부터 url패턴 이름을 넣음
            - 마지막에는 꼭 /넣기
        -->
        <a href="/first/">[FirstApp 바로가기]</a>
    </p>

    <h3>SecondApp</h3>
    <p>
        <a href="/second/">[SecondApp 바로가기]</a>
    </p>

    <h3>ThirdApp</h3>
    <p>
        <a href="/third/">[ThirdApp 바로가기]</a>
    </p>

    <h3>FrontApp</h3>
    <p>
        <a href="/front/">[FrontApp 바로가기]</a>
    </p>

    <h3>OracleApp</h3>
    <p>
        <a href="/oracle/">[OracleApp 바로가기]</a>
    </p>

    <h3>OracleApp</h3>
    <p>
        <a href="/nonmodel/">[NonmodelApp 바로가기]</a>
    </p>
</body>
</html>